<div 
  class="critter"
  [class.correct-critter]="critter.isCorrect"
  [class.animating]="critter.isAnimating"
  [style.left.%]="critter.x"
  [style.top.%]="critter.y"
  [style.background-color]="getColorHex()"
  (click)="onTap()"
  (touchstart)="onTap()">
  <span class="critter-emoji">{{ critter.animal }}</span>
  
  <!-- Sparkle effect for correct taps -->
  <div *ngIf="critter.isAnimating && critter.isCorrect" class="sparkles">
    <div class="sparkle"></div>
    <div class="sparkle"></div>
    <div class="sparkle"></div>
    <div class="sparkle"></div>
  </div>
</div>
